<div *ngIf="questions[whichQuestion]">
  <div class="quiz">
    <p class="numberOfQues">Q{{questions[whichQuestion].id+1}}:</p>
    <p class="quesName">{{questions[whichQuestion].name}}</p>
    <div class="wrapper">
      <div class="option box " *ngFor="let option of questions[whichQuestion].answers">
        <app-button-answer [shouldRevealAnswer]="shouldRevealAnswer" (exampleOutput)="exampleMethodParent($event)"
           [option]="option"></app-button-answer>

      </div>
    </div>
  </div>
  <div>
    <button class="go" type="button" (click)="onGo($event)">
      <div class="text">OK</div>
    </button>
    <div class="circleOfQues">
      <span class="circle" *ngFor="let circle of questions; let i=index" id={{i}}
        [ngClass]="{'full':  i<=whichQuestion}" #circle{{i}}> </span>
    </div>
  </div>
</div>
<div *ngIf="!questions[whichQuestion]">
  <app-results [totalScore]="totalScore" [all]="questions.length"></app-results>

</div>
