<div *ngIf="!questions[whichQuestion]&&!showResults">
  <mat-progress-spinner
  class="example-margin"
  color="accent"
  mode="indeterminate"
  >
</mat-progress-spinner>
</div>
<div *ngIf="questions[whichQuestion];else no">
  <div class="quiz">
    <p class="numberOfQues">Q{{questions[whichQuestion].id+1}}:</p>
    <p class="quesName">{{(questions[whichQuestion].name)}}</p>
    <div class="wrapper">
      <div class="option box " *ngFor="let option of questions[whichQuestion].answers">
        <app-button-answer [shouldRevealAnswer]="shouldRevealAnswer" (exampleOutput)="exampleMethodParent($event)"
          [option]="option" [ifSelected]="ifSelected"></app-button-answer>

      </div>
    </div>
  </div>
  <div>

    <button class="go" type="button" (click)="onGo()" [disabled]="!ifSelected">
      <div *ngIf="!shouldRevealAnswer" class="text" >OK</div>
      <div *ngIf="shouldRevealAnswer" [routerLink]="whichQuestion == questions.length - 1? link:''" class="text">Continue</div>

    </button>

    <div class="circleOfQues">
      <span class="circle" *ngFor="let circle of questions; let i=index" id={{i}}
        [ngClass]="{'full':  i<=whichQuestion}" #circle{{i}}> </span>
    </div>
  </div>
</div>
<ng-template #no>
  <img
    src="https://media.istockphoto.com/illustrations/try-again-label-illustration-id505716206?k=6&m=505716206&s=612x612&w=0&h=NpuKqGXi0I5BAQbFq2hFOSkvPiClEctfgJ9PRyc3f1w=">
</ng-template>
