#container {
    position:relative;
    height: 104px;

}

#img2 {
    position: absolute;
    left: 530px;
    top: 17px;
}
.footer {
    position: fixed;
    height: 104px;
    bottom: 0;
    width: 100%;
}